# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/evalve-ai-quizzes?retryWrites=true&w=majority

# JWT
JWT_SECRET=3296a4c2070020f6f46e187acace295b505032286e5a697f2bafb1ba3c38719fc5f9b1629b3669731d6d81f8ee4b68497fec7b023524a2707712e6938530dde6
JWT_EXPIRES_IN=7d

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173
